/* RGB

$color1: rgba(216, 219, 226, 1); cinzinha
$color2: rgba(68, 187, 164, 1);  verdinho
$color3: rgba(28, 49, 68, 1);	azul
$color4: rgba(55, 63, 81, 1);	azul-cinza
$color5: rgba(27, 27, 30, 1);	pretonio

*/

body{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(55, 63, 81, 1);
	background: url("../img/back.jpg");
	background-size: 100% 100%;
}

header{
	z-index: 99999999999999;	
	position: fixed; 
    top: 0; 
    width: 100%;
    background-color: rgba(28, 49, 68, 1);
}

header img{
	float: left;
	margin-left: 12.5%;	
}

header ul{
	margin: auto;
	width: 70%;
}

header ul a{
	color:rgba(27, 27, 30, 1);
	background-color: rgba(216, 219, 226, 1);
	display: inline-block;
	float: right;
	text-decoration: none;
	padding: 5px 7px;
	font-size: 10px;
    margin: 20px 4px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(27, 27, 30, 1);
	border-radius: 3px;
	text-transform: uppercase;
}

header ul a:hover{
	color:#FFF;
	background-color: rgba(68, 187, 164, 1);
	transition: all .2s ease;
}

label{
	color:rgba(27, 27, 30, 1);
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	padding-left: 3px;	
}

.content{
	overflow: auto;
	width: 75%;
	margin: auto;
	margin-top: 70px;	
	margin-bottom: 70px;
	background-color: rgba(205, 210, 215, 1);
	border-radius: 6px;
}

.oops{
	float: right;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.content h1{
	border-bottom: #c2c2c2 dotted 1px;
    color: rgba(27, 27, 30, 1);
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 0 0 5px;
    text-align: center;
    text-transform: uppercase;	
}

.content h2{
    color: rgba(27, 27, 30, 1);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;	
}

.login{
	float:right;
	width: 30%;
	margin-top: 30px;
	margin-right: 20px;	
	margin-bottom: 30px;
	background-color: rgba(216, 219, 226, 1);
	border-radius: 5px;	
	padding: 30px;
}

.logini{
	padding-bottom: 65px;
}

.inputes{
	color: #333;
    background: #fff;
    border: 1px solid #BBB;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    box-sizing: border-box;
    margin: 5px 0 15px;
    min-height: 34px;
    padding: 7px 8px;
    vertical-align: middle;
    width: 100%;
}

.subm{
	float:right;
	width: 50%;	
	padding: 5px 10px;
	background-color: #64dd17;
	color: #fff;
	font-weight: 600;
	border:solid 1px #64aa17;
	border-radius: 3px;	
}

.subm:hover{
	background-color: #64bb17;
	transition: all .2s ease;
}

.login h3{
	display: block;
	text-align: center;
	color: rgba(55, 63, 81, 1);
	width: 100%;
	margin: auto;
	margin-bottom:65px;
	font-weight: 400;		
}

.explain{
	float: left;
	width: 50%;
	margin-top: 30px;
	margin-left: 20px;	
	margin-bottom: 30px;
	background-color: rgba(216, 219, 226, 1);
	border-radius: 5px;	
	padding: 30px;	
}

.explain-a{
	float: left;
	width: 54%;
	margin-left: 20px;	
	margin-bottom: 50px;
	background-color: rgba(216, 219, 226, 1);
	border-radius: 5px;	
	padding: 10px;	
}

.explain-a img{
	float:left;
	width: 50%;
}

.explain h2{
	border-bottom: #c2c2c2 dotted 1px;
    color: rgba(27, 27, 30, 1);
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 15px;
    padding: 0 0 5px;
    text-align: left;
    text-transform: uppercase;
}

.explain h1{
	border-bottom: #c2c2c2 dotted 1px;
    color: rgba(27, 27, 30, 1);
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 0 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.adj{
	width:100%;
}

.right{
	float: left;	
}

.explain texta{
	color: rgba(50, 50, 43, 1);
    font-weight: 700;
    font-size: 13px;
    padding: 0 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.clear{
	clear: both;
}

.reg{
	float:right;
	width: 100%;	
	margin-top: 10px;
	padding: 5px 10px;
	background-color: rgba(28, 49, 68, 1);
	color: #fff;
	font-weight: 600;
	border:solid 1px rgba(50, 75, 75, 1);
	border-radius: 3px;	
}

.reg:hover{
	background-color: rgba(45, 75, 80, 1);
	transition: all .2s ease;
}

.ajuste{
	margin-top: 5px;
}

.explain-a img[class="helpers"]{
	width: 30%;
	margin-top: 15px;
	border-radius: 5px;
	margin-left: 35%;
}

.down15{
	margin-top: 15px;
}

.video{
	position: absolute;
	margin:auto;
	margin-top: 20px;
	width:80%;
	height:100%;
	margin-left: 10%;
	border-radius: 5px;	
}